{% extends 'basetemp.html' %}
{% block title %} {{ title }} {% endblock %}
{% block main %}

<section class="section1">
    <article><i class="fa-solid fa-book-open-reader"></i>
     
 <h1>Welcome To Our Store</h1>
 </article>
 </section>
<section class="category">
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="ALL" /><button>ALL</button> </form>     
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Crime</button> </form>   
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Math</button>  </form>  
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Philosophy</button> </form>    
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Science</button></form>  
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Fiction</button>  </form>   
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Non fiction</button>  </form>   
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Drama</button>   </form>  
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Classic</button>  </form>   
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Crime</button>   </form>  
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Math</button>   </form>  
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Philosophy</button>  </form>   
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Science</button></form>  
    {% for sec in sectionsname %}
    <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value={{sec}} /><button>{{sec}}</button>  </form>   
    {% endfor %}
    
</section>

  <section class="section2"> 
  <div class="container">
     
     <aside class="sidebar1">
         {% for book in books %}
         <span><img src="{{ url_for( 'static' , filename='images/' + book.source + '.jpg')}}" alt=book.name><form action="purchase"  method="Post"><input type="hidden" name="bookname"  value={{book.name}} /> <button class="ff">Buy</button>
            </form> {{book.price}}
               </span>
         {% endfor %}
         
        </aside>
    <aside class="sidebar2">
     
 
        <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="ALL" /><button>ALL</button> </form>     
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Crime</button> </form>   
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Math</button>  </form>  
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Philosophy</button> </form>    
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Science</button></form>  
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Fiction</button>  </form>   
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Non fiction</button>  </form>   
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Drama</button>   </form>  
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Classic</button>  </form>   
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Crime</button>   </form>  
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Math</button>   </form>  
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Philosophy</button>  </form>   
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value="fiction" /><button>Science</button></form>  
         {% for sec in sectionsname %}
         <form   action="filter" method="post"> <input type="hidden" name="filtertype"  value={{sec}} /><button>{{sec}}</button>  </form>   
         {% endfor %}
        
    </aside>
 </div>
</section>

{% endblock %} 
